@model ProfilePassViewModel

@{
	ViewData["Title"] = "Details";
	Layout = "_MyProfileLayout";
}

<div class="content-section">
	<h2 class="profile-title">Change your password</h2>
	<form asp-action="ChangePassword" role="form">
		<div class="row">
			<div asp-validation-summary="ModelOnly" class="col-12 text-danger"></div>
		</div>
		<div class="row">
			<div class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
				<label asp-for="OldPassword" class="control-label"></label>
				<input asp-for="OldPassword" class="form-control" />
				<span asp-validation-for="OldPassword" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
				<label asp-for="NewPassword" class="control-label"></label>
				<input asp-for="NewPassword" class="form-control" />
				<span asp-validation-for="NewPassword" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
				<label asp-for="ConfirmPassword" class="control-label"></label>
				<input asp-for="ConfirmPassword" class="form-control" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-12 text-center">
				<input type="submit" value="Change!" class="btn btn-success" />
			</div>
		</div>
	</form>
</div>
<hr />

<div>
	<a asp-action="Index" class="btn btn-secondary">Back to Profile</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


