@model Genre

@{
	ViewData["Title"] = "Admin - Edit Genre";
}

<div class="content-section">
	<h2 class="content-title">Edit genre - @Model.Name</h2>
	<hr />
	<form asp-action="Edit" role="form">
		<input type="hidden" asp-for="ID" />
		<div class="row">
			<div asp-validation-summary="ModelOnly" class="col-12 text-danger"></div>
		</div>
		<div class="row">
			<div class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-12 col-md-6">
				<div class="checkbox">
					<label>
						@Html.DisplayNameFor(g => g.InMenu) <input asp-for="InMenu" />
					</label>
				</div>
				<span asp-validation-for="InMenu" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-12 text-center">
				<input type="submit" value="Save!" class="btn btn-success" />
			</div>
		</div>
	</form>
</div>

<hr />

<div>
	<a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

