@model PhotoGal

@{
	ViewData["Title"] = "Admin - Delete Photo";
}

<div class="content-section">
	<h2 class="content-title">Delete photo</h2>
	<hr />
	<h3 class="content-subtitle">Photo details</h3>
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="admin-delete-details">
				<span><strong>Title:</strong> @Model.Title</span>
				<span><strong>Active:</strong> @Model.IsActive</span>
				<span><strong>For cinema:</strong> @Model.Cinema.Name</span>
				<span><strong>Description:</strong> @Model.Description</span>
				<span><strong>Photo:</strong></span>
				<div>
					<img class="img-fluid" src="~/images/@Model.Photo.FilePath" />
				</div>
			</div>
		</div>
		<hr />
		<div class="col-12 text-center">
			<h3>Are you sure you want to delete this?</h3>
			<form asp-action="Delete">
				<input type="hidden" asp-for="ID" />
				<input type="submit" value="Delete" class="btn btn-danger" />
			</form>
		</div>
	</div>
</div>

<hr />

<div>
	<a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

